<%- include('partials/header') %>
<div class="main">
    <div class="main-content">
        <%
            if(typeof blogs != 'undefined'){
                blogs.forEach(blog => {
        %>
        <div class="post">
            <div class="post-title"><%= blog.title%></div>
            <div class="post-description">
                <%= blog.description%>
            </div>
            <div class="post-category"><%= blog.category[0].category_name%></div>
            <div class="read-more">Read More</div>
        </div>
        <%
    })}
        %>
    </div>
    <div class="sidebar-content">
        <div class="search">
            <form action="">
                <div class="form-group">
                    <input type="text" placeholder="Search..." class="form-control">
                </div>
            </form>
        </div>
        <div class="archives">
            <h2>Archives</h2>
            <ul>
                <li><a href="">June</a></li>
                <li><a href="">July</a></li>
                <li><a href="">August</a></li>
            </ul>
        </div>
    </div>
</div>
<%- include('partials/footer') %>